name: Security Scan (SAST & DAST)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  # ======================
  # SAST JOB
  # ======================
  scansast:
    runs-on:
      - ast

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set permission SAST-
        run: chmod +x scansast.sh

      - name: Run SAST Scan
        run: ./scansast.sh


  # ======================
  # DAST JOB
  # ======================
  scandast:
    runs-on:
      - ast

    # Kalau mau DAST jalan SETELAH SAST sukses
    needs: scansast

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set permission DAST
        run: chmod +x scandast.sh

      - name: Run DAST Scan
        run: ./scandast.sh
