name: Run DAST Scan (Self Hosted)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  scandast:
    runs-on:
      - self-hosted
      - desya-local

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Run DAST Scan
        run: ./scandast.sh
